<header id="header">
  <div class="d-flex flex-column">

    <div class="profile">
      <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
      <h1 class="text-light"><a routerLink="index">Rafael Cavalcante</a></h1>
      <div class="social-links mt-3 text-center">
        <a href="https://github.com/rafaelcavalcante10" class="git"><i class="bx bxl-github"></i></a>
        <a href="https://www.facebook.com/RafaelCavalcante10" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="skype:live:.cid.a5723cd6513b1511?call" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="https://www.linkedin.com/in/rafaelcavalcante10/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li>
          <a routerLink="Home" class="nav-link scrollto"><i class="bx bx-home"></i> <span>Home</span></a>
        </li>
        <li>
          <a routerLink="Sobre" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Sobre</span></a>
        </li>
        <li>
          <a routerLink="Resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resumo</span></a>
        </li>
        <li>
          <a routerLink="Contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contatos</span></a>
        </li>
      </ul>
    </nav><!-- .nav-menu -->
  </div>
</header>
