<section id="resume" class="resume">
  <div class="container">

    <div class="section-title">
      <h2>Resumo</h2>
      <p></p>
    </div>
    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <h3 class="resume-title">Informação</h3>
        <div class="resume-item pb-0">
          <h4>{{dados.nome}}</h4>
          <p><em>{{dados.informacao}}</em></p>
          <ul>
            <li>{{dados.endereco}}, {{dados.bairro}}, {{dados.cidade}}</li>
            <li>{{dados.telefone}}</li>
            <li>{{dados.email}}</li>
          </ul>
        </div>

        <h3 class="resume-title">Formação</h3>
        <div class="resume-item" *ngFor="let graduation of dados.graduations">
          <h4>{{graduation.curso}}</h4>
          <h5>{{graduation.inicio}} - {{graduation.fim}}</h5>
          <p><em>{{graduation.universidade}}</em></p>
          <p>{{graduation.descricao}}</p>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">Experiência Profissional</h3>
        <div class="resume-item" *ngFor="let experience of dados.experiences | orderBy : 'order' : true">
          <h4>{{experience.cargo}}</h4>
          <h5>{{experience.inicio}} - {{experience.fim}}</h5>
          <p><em><b>{{experience.empresa}} </b></em></p>
          <ng-template [ngIf]="experience.id == 1">
            <ul *ngFor="let detail of details1">
              <li>{{detail.detalhe}}</li>
            </ul>
          </ng-template>
          <ng-template [ngIf]="experience.id == 2">
            <ul *ngFor="let detail of details2">
              <li>{{detail.detalhe}}</li>
            </ul>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>
<footer id="footer">
  <div class="container">
    <div class="credits">
      <a routerLink="../Home" style="margin-right: 1em;"><i class="bx bx-home"></i> <span style="color: #fff;">Home</span></a>
      <a routerLink="../About" style="margin-right: 1em;"><i class="bx bx-user"></i> <span style="color: #fff;">Sobre</span></a>
      <a routerLink="../Resume" style="margin-right: 1em; font-weight: bold;"><i class="bx bx-file-blank"></i> <span style="color: #fff;">Resumo</span></a>
      <a routerLink="../Contact" style="margin-right: 1em;"><i class="bx bx-envelope"></i> <span style="color: #fff;">Contatos</span></a>
    </div>
  </div>
</footer>
