<div class="container">

  <div class="section-title">
    <h2>Resumo</h2>
    <p></p>
  </div>

  <div class="row">
    <div class="col-lg-6" data-aos="fade-up">
      <h3 class="resume-title">Informação</h3>
      <div class="resume-item pb-0">
        <h4>Rafael Cavalcante</h4>
        <p><em>Analista desenvolvedor com experiência e capacidade de fazer diferença na equipe e agregar conhecimento e inovação ao projeto.</em></p>
        <ul>
          <li>Rua Itambacuri 330 casa 03, Jd.Catarina, São Gonçalo-RJ</li>
          <li>(21) 98627-3391</li>
          <li>rafaelcavalcante10.rc@gmail.com</li>
        </ul>
      </div>

      <h3 class="resume-title">Formação</h3>
      <div class="resume-item">
        <h4>Curso Superior em Tecnologia da Informação</h4>
        <h5>2020 - 2022</h5>
        <p><em>Anhanguera Educacional, RJ</em></p>
        <p>Curso de ensino superior com ênfase em novas tecnologias e metodologias ágeis</p>
      </div>
    </div>
    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
      <h3 class="resume-title">Experiência Profissional</h3>
      <div class="resume-item">
        <h4>FullStack Developer .NetCore & Angular</h4>
        <h5>09/2021 - 01/2022</h5>
        <p><em>Pitang Consultoria e Sistemas, Recife-PE </em></p>
        <ul>
          <li>Desenvolvimento e manutenção de sistemas, WebApi e Library em C#, NetCore e Angular</li>
          <li>Azure DevOps e metodologias ágeis para organização das tasks </li>
          <li>PL-SQL em procedures e trigger em SqlServer</li>
          <li>Elaboração de testes unitários e </li>
        </ul>
      </div>
      <div class="resume-item">
        <h4>Analista de Sistemas Senior</h4>
        <h5>04/2014 - 08/2021</h5>
        <p><em>Montreal Informática, Rio de Janeiro-RJ</em></p>
        <ul>
          <li>Desenvolvimento e manutenção de sistemas, WebApi, WebService e Library em C#, NetCore e Angular.</li>
          <li>Kanban em single projects e Scrum master em sub-equipes de projetos destacados</li>
          <li>Criação de procedures, triggers e packages em Oracle Database </li>
          <li>Criação de aplicativos mobile com integração a WebServices e WebApiRest</li>
        </ul>
      </div>
    </div>
  </div>

</div>
